.venv
.github
.python-version
.env
task_manager/__pycache__
task_manager/users/__pycache__
task_manager/status/__pycache__
task_manager/tasks/__pycache__
task_manager/labels/__pycache__
task_manager/migrations/__pycache__
task_manager/users/migrations/__pycache__
task_manager/status/migrations/__pycache__
task_manager/tasks/migrations/__pycache__
task_manager/labels/migrations/__pycache__
db.sqlite3