{% extends 'index.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% bootstrap_messages %}
<div class="container-lg">
    <h1>{{ title }}</h1>
    <a class="btn btn-primary" href="{% url 'statuses:create_status' %}">Создать статус</a>
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Дата создания</th>
            </tr>
        </thead>
        
        <tbody>
        {% if statuses %}
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.status_name }}</td>
                <td>{{ status.time_create }}</td>
                <td>
                    <a href="{% url 'statuses:update_status' status.pk %}">Изменить</a>
                    <hr>
                    <a href="{% url 'statuses:delete_status' status.pk %}">Удалить</a>
                </td>
            </tr>
        {% empty %}
        {% end %}
        </tbody>
        
    </table>
</div>
{% endblock %}