{% extends 'index.html' %}
{% load django_bootstrap5 %}

{% block list_user %}
<div class="container-lg">
    <h1>Пользователи</h1>
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Полное имя</th>
                <th scope="col">Дата создания</th>
            </tr>
        </thead>
        
        <tbody>
        {% if users %}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.user_name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.time_create }}</td>
                <td>
                    <a href="{% url 'update_user' user.pk %}">Изменить</a>
                    <hr>
                    <a href="{% url 'delete_user' user.pk %}">Удалить</h5>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
        
    </table>
</div>
{% endblock %}