{% extends 'index.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container-lg">
    <h1>{{ title }}</h1>
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Полное имя</th>
                <th scope="col">Дата создания</th>
            </tr>
        </thead>
        
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                {% if user.pk == request.user.pk or request.user.is_staff %}
                <td>
                    <a href="{% url 'users:update_user' user.pk %}">Изменить</a>
                    <br>
                    <a href="{% url 'users:delete_user' user.pk %}">Удалить</a>
                </td>
                {% else %}
                <td>
                    <span class="text-muted">—</span>
                </td>
                {% endif %}
            </tr>
        {% empty %}
        {% endfor%}
        </tbody>
        
    </table>
</div>
{% endblock %}