{% extends 'index.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container-lg">
    <h1>{{ title }}</h1>
    <a class="btn btn-primary" href="{% url 'tasks:create_task' %}">Создать задачу</a>
    <div class="card mb-4">
        <div class="card-body">
            <form method="get" class="row g-3">
                {% bootstrap_form filter_form %}
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Фильтровать</button>
                    <a href="{% url 'tasks:list_tasks' %}" class="btn btn-secondary">Сбросить</a>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Статус</th>
                <th scope="col">Автор</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Дата создания</th>
            </tr>
        </thead>
        
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.pk }}</td>
                <td><a href="{% url 'tasks:show_task' task.pk %}">{{ task.task_name }}</a></td>
                <td>{{ task.status.status_name }}</td>
                <td>{{ task.author.username }}</td>
                <td>{{ task.executor.username }}</td>
                <td>{{ task.time_create }}</td>
                <td>
                    <a href="{% url 'tasks:update_task' task.pk %}">Изменить</a>
                    <hr>
                    <a href="{% url 'tasks:delete_task' task.pk %}">Удалить</a>
                </td>
            </tr>
        {% empty %}
        {% endfor %}
        </tbody>
        
    </table>
</div>
{% endblock %}